/* ///////////////////////////////////// */
/* Common CSS */
html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* ///header section area start/// */
.background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165301.jpg);
}

.site-navigation {
    width: 100%;
    top: -100%;
    position: relative;
    margin-top: -12px;
    z-index: 999;
}

.site-navigation.active {
    transition: all 0.5s ease;
    top: 0;
    position: fixed;
    background-color: #fdfdfd;
    margin-top: -10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 99999;
}

.hader-section-area-menu {
    display: flex;
    justify-content: space-between;
}

.navigation-menu ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #22c9f370;
    transition: width .5s;
}

.navigation-menu ul li:hover::after {
    margin-top: 3px;
    width: 100%;
}

.navigation-menu ul a {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

li.dropdown div.dropdown-content a:hover {
    color: rgb(11, 202, 93);
}

.navigation-menu ul a:hover {
    color: rgb(28, 24, 24);
}

.navigation-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation-menu ul a {
    color: rgb(114, 110, 110);
    font-weight: 700;
}

.main-dropdown li {
    padding: 10px 25px;
}

.main-dropdown li:hover {
    background-color: rgb(240, 238, 238);
}

.main-dropdown ul {
    padding-left: 0;
    background-color: #e9dcdc9e;
    position: absolute;
    z-index: 66666;
    border-radius: 3px;
}

.navigation-menu ul a {
    text-decoration: none;
}

.navigation-menu ul ul {
    display: none;
}

.navigation-menu ul ul ul {
    margin-left: 120px;
    margin-top: -30px;
}

/* /////Dropdown Menu END//// */
/* ///////mobile-responsive Start///// */
.navigation-menubar-inner a {
    font-weight: 700;
}

.navigation-menubar-inner ul li:hover>ul {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: rgb(185, 162, 162);
}

.main-dropdown-inner li {
    padding: 10px 25px;
}

.main-dropdown-inner li:hover {
    background-color: rgb(141, 127, 127);
    color: rgb(245, 215, 215);
}

.navigation-menubar-inner ul a {
    text-decoration: none;
    border-radius: 5px;
}

.navigation-menubar-inner ul ul {
    display: none;
}

.navigation-menubar-inner ul li:hover>ul {
    display: block;
    list-style: none;
    border-radius: 6px;
}

.navigation-menubar-inner ul ul ul {
    margin-left: 110px;
    margin-top: -30px;
}

.navigation-menubar-inner ul a {
    color: white;
}

.navigation-menubar-inner ul li {
    padding: 10px 20px;
    list-style: none;
}

.navigation-menubar-inner ul {
    padding-left: 0;
}

.navigation-menubar-inner ul li:hover {
    background-color: #999;
    color: white;
}

/* ///////mobile-responsive end///// */

/* ///hero-slider content start//// */
.content h2 {
    text-align: center;
    padding: 240px 0px;
    color: white;
    font-size: 70px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.content p {
    text-align: center;
    color: white;
    margin-top: -250px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.content p a {
    text-decoration: none;
    color: rgb(47, 183, 16);
}

/* /////header section end////// */




/* ///header section hero-slider start */
.img-area {
    background-size: cover;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
}

.background-img-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221226073116.jpg);
}

.background-img-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227151458.jpg);
}

.background-img-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227142342.jpg);
}

.background-img-five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/1672895346.jpg);
}

.background-img-six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221226073145.jpg);

}

.background-img-sevan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/1672897443.jpg);
}

.background-img-eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165245.jpg);
}

.background-img-nine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165438.jpg);
}

.owl-nav {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    bottom: 0px;
    left: 15px;
    right: 15px;
    top: 10px;
}

.owl-nav div {
    background-color: rgba(211, 205, 205, 0.372);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* ///hero-slider content end//// */

/* //////dropdown----2 start////// */
.dropdown-contentt a:hover {
    color: black;
}

.dropdown:hover .dropdown-contentt {
    padding: 0px 7px;
}

.dropdown-contentt {
    display: none;
    position: absolute;
    background-color: #1a1818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contentt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}

.dropdown:hover .dropdown-contentt {
    display: block;
}

.hading {
    position: relative;
}

.social-icon {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.main-responsive {
    display: flex;
    justify-content: space-between;
}

.social-icon span {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96bb7c;
    color: white;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.5s;
}

.social-icon span:hover {
    transform: scale(1.6);
    transition: 0.5s;
}

.mobile-responsive {
    background-color: black;
    width: 50%;
    position: fixed;
    right: -100%;
    top: 0px;
    transition: all 1s ease;
    z-index: 99999;
    height: 100vh;
    padding: 10px 0px;
}

.mobile-responsive ul {
    list-style: none;
    background-color: black;
}

.mobile-responsive ul li a {
    color: white;
    text-decoration: none;
}

.dropdown-contentt {
    background-color: #939393;
}

.close-bar {
    width: 25px;
    height: 25px;
    background-color: rgb(160, 149, 149);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.show {
    right: 0;
}

.close-bar a {
    color: white;
}

button.icon i {
    color: #939393;
}

button.icon {
    background: transparent;
    border: none;
    font-size: 25px;
    margin-top: 16px;
    display: none;
}

/* //////dropdown----2 end////// */
/* //////////////////////////////////////////////// */

/* <!-- ////Header-Featured start/// --> */
.Header-Featured {
    padding: 100px 0;
    position: relative;
}

.wrapper-featured::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-image: url(/img/wave-hai.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
}

.Header-Featured-input-type {
    width: 70%;
}
.Header-Featured-input-type:focus{
    border: none;
}

.Header-Featured-input-type form {
    display: flex;
}

.Header-Featured-input-type button.btn.btn {
    background-color: rgb(237, 179, 70);
    border: none;
    padding: 12px;
    position: relative;
    right: 40px;
}

.inner-Header-Featured {
    display: flex;
    align-items: center;
}

.Header-Featured-icon {
    margin-left: -50px;
}

.Header-Featured-input-type input {
    background-color: rgb(237, 179, 70);
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
}

/* .form-control:focus {
    background-color: rgb(237, 179, 70);
    border: none;
    box-shadow: none;
} */
.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.Header-Featured-content h3 {
    font-size: 36px;
    color: white;
    /* font-weight: 700; */
    font-family: fantasy;
}

.Header-Featured-content p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito';
}

/* <!-- ////Header-Featured end/// --> */
/* //<!-- ///////paint-category start////// --> */
.main-paint-category {
    padding: 50px 0;
    background-color: #e1dddd;
}

.paint-category {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 4px 8px;
    border-radius: 50px;
    /* margin: 0 0 0 6px;
    padding: 6px; */
}

.paint-category-img img {
    height: 30px;
    min-width: 30px;
}

.paint-category-title h4 {
    font-size: 13px;
    font-weight: 700;
}

.paint-category-img img {
    height: 45px;
    min-width: 45px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50%;
}

.blue-bg img {
    background-color: #00b3ff;
}

.red-bg img {
    background-color: #fd4785;
}

.green-bg img {
    background-color: #96bb7c;
}

.navi-blue-bg img {
    background-color: #af3fff;
}

.gay-bg img {
    background-color: #fd7900;
}

.aqua-bg img {
    background-color: #4d94ff;
}

.blue-bg:hover {
    background: linear-gradient(190deg, #b9c7ff, #1573ff);
    box-shadow: 0px 10px 15px -8px rgb(44 124 243 / 76%);
    border-radius: 50px;
    color: white;
}

.red-bg:hover {
    background: linear-gradient(190deg, #edc7c7, #fd4785);
    box-shadow: 0px 10px 15px -8px rgb(255 65 65 / 76%);
    border-radius: 50px;
    color: white;
}

.green-bg:hover {
    background: linear-gradient(190deg, #e8fff5, #0fbc9e);
    box-shadow: 0px 10px 15px -8px rgb(37 195 167 / 76%);
    border-radius: 50px;
    color: white;
}

.navi-blue-bg:hover {
    background: linear-gradient(190deg, #fddbff, #af3fff);
    box-shadow: 0px 10px 15px -8px rgb(182 76 255 / 75%);
    border-radius: 50px;
    color: white;
}

.gay-bg:hover {
    background: linear-gradient(190deg, #ffe8a0, #fd7900);
    box-shadow: 0px 10px 15px -8px rgb(253 130 13 / 75%);
    border-radius: 50px;
    color: white;
}

.aqua-bg:hover {
    background: linear-gradient(190deg, #ecf0ff, #4d94ff);
    box-shadow: 0px 10px 15px -8px rgb(91 156 255 / 75%);
    border-radius: 50px;
    color: white;
}

/* <!-- ///////paint-category start////// --> */
.head-title-area {
    position: relative;
}
.head-title h2 {
    font-family: system-ui;
    color: #2c2424;
}
.head-title p {
    font-family: revert;
    font-weight: 700;
    color: #857f7f;
}
.head-title::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    transition: 0.5s;
    margin: auto;
}

.head-title:hover::after {
    text-align: center;
    margin-top: 3px;
    margin: auto;
    width: 20%;
}
/* <!-- ///////paint-category end////// --> */
/* <!-- /////tint-category start//// --> */
.tint-category {
    /* padding: 60px 0; */
    margin-bottom: 50px;
}
.widget-content {
    text-align: center;
}
.widget-Image {
    border: 1px solid rgba(216, 213, 213, 0.1);
    border-radius: 9px;
    transition: 0.4s;
    background-color: #f2f1f1;
    width: 100%;
    height: 300px;
}
.widget-Image:hover {
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tint-category-img a {
    position: relative;
    display: flex;
    height: 100px;
    width: 100px;
    margin: 40px auto 15px;
    border: 1px solid rgb(0 0 0 / 0.06);
    border-radius: 86% 30% 57% 57% / 84% 40% 28% 30%;
    transition: .5s;
    box-shadow: 0px 0px 6px 3px rgb(33 33 33 / 6%);
    align-items: center;
}

.tint-category-title h3 {
    font-size: 20px;
    font-weight: 700;
}
.tint-category-caption p {
    font-size: 13px;
    margin: 0 10px 30px;
    color: #9a9595;
    font-weight: 600;
}
.widget-Image:hover a {
    border-radius: 50%;
}
.tint-category-img img {
    position: relative;
    width: 65%;
    height: 65%;
    display: flex;
    object-fit: cover;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/* <!-- /////tint-category end//// --> */
/* <!-- ////////widget Blog start////// --> */
.widget-blog{
    padding: 70px 0;
    background-color: #e3dddd;
}
.blog-posts {
    /* text-align: center; */
    width: 100%;
    height: 300px;
    position: relative;
}
.blog-img {
    text-align: center;
}
.blog-img img{
    border-radius: 8px;
}
.blog-img img:hover{
    opacity: 0.5;
    /* background-color: rgb(23, 18, 18);/ */
    color: black;
}
.super-category a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(23, 20, 20);
}
.post-tag {
    font-size: 13px;
    background-color: rgb(245, 177, 94);
    padding: 3px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
.post-snip {
    text-align: center;
}
.super-category {
    background-color: white;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 1;
    width: 95%;
    margin: auto;
    bottom: 40px;
    left: 0;
    right: 0;
}
.post-snip img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
span.post-author {
    background-color: transparent;
    color: orange;
    font-weight: 700;
}
span.post-date-published {
    background-color: transparent;
    font-family: 'Nunito';
    font-size: 12px;
}
/* <!-- ////////widget Blog end////// --> */
/*    <!-- /////footer-form-section staart//// --> */
.footer-form-section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(15deg,#e07c03,#cdb202);
    padding: 80px 0;
}
.footer-form-section::before{
    position: absolute;
    background: url(/img/Frame.png) no-repeat scroll left bottom;
    left: 0;
    top: 0px;
    content: "";
    width: 150px;
    height: 375px;
}
input.follow-by-email-address {
    width: 400px;
    padding: 12px;
    position: relative;
    background-color: transparent;
    border: 1px solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.footer-email-inner form{
    display: flex;
    justify-content: center;
}
span.bt-footer {
    position: relative;
    color: #2e2e2e;
    display: flex;
    background: #fff;
    border-radius: 0 15px 15px 0;
    border: 1px solid #fff;
    padding: 0 3px;
    align-items: center;
    min-width: 100px;
    justify-content: center;
    /* left: -20px; */
}
.Follow-by-alert {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
span.footer-email-title {
    color: white;
    font-weight: 700;
}
h3.footer-email-caption {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
button.follow-by-email-submit {
    border: navajowhite;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
}
span.bt-footer i {
    background-color: black;
    color: white;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* /   <!-- /////footer-form-section end//// --> */
/* ///footer area startr/// */
.footer-Navagation {
    background-color: #f1eded;
    padding: 100px 0px;
}
.widget ul {
    gap: 10px;
    list-style: none;
    padding-left: 0;
}
.widget ul a {
    color: #666666;
    background-color: #939393;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
.widget ul a:hover {
    color: white;
    background-color: #96bb7c;
    transition: 0.6s;
    transform: scale(1.7);
}
.widget h3 {
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    position: relative;
}
.widget h3::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    transition: 0.5s;
}
.widget h3:hover::after {
    text-align: center;
    margin-top: 3px;
    width: 20%;
}
.widget ul a {
    transition: all 0.4s ease 0s;
    transform: scale(0.9);
}
.Navagation-list ul a {
    color: #666666;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.Navagation-list ul a:hover {
    color: #00b3ff;
    transition: 0.5s;
    text-shadow: 2px -1px 0px #999;
}
.Navagation-list ul {
    list-style: none;
    padding-left: 0;
}
.Navagation-list h3 {
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    position: relative;
}
.Navagation-list h3::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    transition: 0.5s;
}
.Navagation-list h3:hover::after {
    text-align: center;
    margin-top: 3px;
    width: 20%;
}
/* ///footer area end/// */
/* ///slider/// */
.hero-slider .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    bottom: 15px;
    /* color: red;  */
    z-index: 9999;
}
.hero-slider.owl-carousel .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(175, 180, 175) !important;
}
.hero-slider .owl-carousel .owl-dot:hover,
.owl-carousel .owl-dot.active {
    border: 1px solid white;
    background-color: transparent !important;
}
.footer-section h6 {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    color: #939393;
}
.footer-section h6 i {
    color: #dc3545;
}
.footer-section h6 span {
    color: #96bb7c;
    font-weight: 900;
}
/* ////slider-end.////// */
/* /////////////////////////////////// */

/* //Responsive/// */
@media screen and (max-width: 991px) {
    .navigation-menu.mt-4 {
        display: none;
    }
    button.icon {
        background: transparent;
        border: none;
        font-size: 25px;
        margin-top: 16px;
        display: block;
        margin: auto;
        margin-right: 0px;
        margin-top: -40px;
    }
    .content h2 {
        font-size: 60px;
    }
    .content p {
        margin-top: -240px;
    }
}
/* @media screen and (max-width: 767px) {
    .Navagation-list {
      margin-top: 25px;
    }
  } */
@media screen and (max-width:575px) {
    .Private-Security-content p {
        width: 100%;
    }

    .Private-Security-content h3 {
        font-size: 30px;
    }

    .Private-Security-content {
        margin-top: 60px;
    }

    .navigation-menubar-inner ul ul ul {
        margin-left: -135px;
        margin-top: -30px;
    }
}
@media screen and (max-width: 425px) {
    .content h2 {
        font-size: 25px;
    }
}