/* ///////////////////////////////////// */
/* Common CSS */
html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* ///header section area start/// */
.background-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165301.jpg);
}

.site-navigation {
    width: 100%;
    top: -100%;
    position: relative;
    margin-top: -12px;
    z-index: 999;
}

.site-navigation.active {
    transition: all 0.5s ease;
    top: 0;
    position: fixed;
    background-color: #fdfdfd;
    margin-top: -10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 99999;
}

.hader-section-area-menu {
    display: flex;
    justify-content: space-between;
}

.navigation-menu ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #22c9f370;
    transition: width .5s;
}

.navigation-menu ul li:hover::after {
    margin-top: 3px;
    width: 100%;
}

.navigation-menu ul a {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

li.dropdown div.dropdown-content a:hover {
    color: rgb(11, 202, 93);
}

.navigation-menu ul a:hover {
    color: rgb(28, 24, 24);
}

.navigation-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation-menu ul a {
    color: rgb(114, 110, 110);
    font-weight: 700;
}

.main-dropdown li {
    padding: 10px 25px;
}

.main-dropdown li:hover {
    background-color: rgb(240, 238, 238);
}

.main-dropdown ul {
    padding-left: 0;
    background-color: #e9dcdc9e;
    position: absolute;
    z-index: 66666;
    border-radius: 3px;
}

.navigation-menu ul a {
    text-decoration: none;
}

.navigation-menu ul ul {
    display: none;
}

.navigation-menu ul ul ul {
    margin-left: 120px;
    margin-top: -30px;
}

/* /////Dropdown Menu END//// */
/* ////contact moddal start/// */
.modal-content {
    margin-top: 100px;
  }
  
  .main-modal-area {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .main-modal-area .btn-primary {
    border-radius: 25px;
    padding: 8px 20px;
    margin-top: -18px;
  }
  
  .modal-footer .btn-success {
    border-radius: 25px;
    padding: 8px 17px;
    margin-top: 15px;
    background-color: #96bb7c;
    border: none;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .information-form {
    margin-top: 30px;
  }
  
  input.form-control {
    /* border: 1px solid rgba(189, 183, 183, 0.132); */
    border-radius: 3px;
  }
  
  input.form-control:focus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 3px;
  }
  
  select.form-control {
    border-radius: 3px;
    /* border: 1px solid rgba(198, 194, 194, 0.158); */
  }
  
  select.form-control:focus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 3px;
  }
  
  .information-form label {
    font-size: 13px;
    font-weight: 600;
  }
  
  div#modal-heading {
    height: 20px;
    width: 100%;
  }
  .main-modal-area button {
    margin-top: -5px;
    color: rgb(114, 110, 110);
    font-weight: 700;
    margin-left: -20px;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
  /* ////contact moddal end/// */
  
/* ///////mobile-responsive Start///// */
.navigation-menubar-inner a {
    font-weight: 700;
}

.navigation-menubar-inner ul li:hover>ul {
    display: block;
    position: absolute;
    z-index: 999;
    background-color: rgb(185, 162, 162);
}

.main-dropdown-inner li {
    padding: 10px 25px;
}

.main-dropdown-inner li:hover {
    background-color: rgb(141, 127, 127);
    color: rgb(245, 215, 215);
}

.navigation-menubar-inner ul a {
    text-decoration: none;
    border-radius: 5px;
}

.navigation-menubar-inner ul ul {
    display: none;
}

.navigation-menubar-inner ul li:hover>ul {
    display: block;
    list-style: none;
    border-radius: 6px;
}

.navigation-menubar-inner ul ul ul {
    margin-left: 110px;
    margin-top: -30px;
}

.navigation-menubar-inner ul a {
    color: white;
}

.navigation-menubar-inner ul li {
    padding: 10px 20px;
    list-style: none;
}

.navigation-menubar-inner ul {
    padding-left: 0;
}

.navigation-menubar-inner ul li:hover {
    background-color: #999;
    color: white;
}

/* ///////mobile-responsive end///// */

/* ///hero-slider content start//// */
.content h2 {
    text-align: center;
    padding: 240px 0px;
    color: white;
    font-size: 70px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.content p {
    text-align: center;
    color: white;
    margin-top: -250px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.content p a {
    text-decoration: none;
    color: rgb(47, 183, 16);
}

/* /////header section end////// */
/* ///header section hero-slider start */
.img-area {
    background-size: cover;
    height: 700px;
    width: 100%;
    background-attachment: fixed;
}

.background-img-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221226073116.jpg);
}

.background-img-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227151458.jpg);
}

.background-img-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227142342.jpg);
}

.background-img-five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/1672895346.jpg);
}

.background-img-six {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221226073145.jpg);

}

.background-img-sevan {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/1672897443.jpg);
}

.background-img-eight {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165245.jpg);
}

.background-img-nine {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(/img/IMG20221227165438.jpg);
}

.owl-nav {
    position: absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    bottom: 0px;
    left: 15px;
    right: 15px;
    top: 10px;
}

.owl-nav div {
    background-color: rgba(211, 205, 205, 0.372);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* ///hero-slider content end//// */

/* //////dropdown----2 start////// */
.dropdown-contentt a:hover {
    color: black;
}

.dropdown:hover .dropdown-contentt {
    padding: 0px 7px;
}

.dropdown-contentt {
    display: none;
    position: absolute;
    background-color: #1a1818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contentt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}

.dropdown:hover .dropdown-contentt {
    display: block;
}

.hading {
    position: relative;
}

.social-icon {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.main-responsive {
    display: flex;
    justify-content: space-between;
}

.social-icon span {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96bb7c;
    color: white;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.5s;
}

.social-icon span:hover {
    transform: scale(1.6);
    transition: 0.5s;
}

.mobile-responsive {
    background-color: black;
    width: 50%;
    position: fixed;
    right: -100%;
    top: 0px;
    transition: all 1s ease;
    z-index: 99999;
    height: 100vh;
    padding: 10px 0px;
}

.mobile-responsive ul {
    list-style: none;
    background-color: black;
}

.mobile-responsive ul li a {
    color: white;
    text-decoration: none;
}

.dropdown-contentt {
    background-color: #939393;
}

.close-bar {
    width: 25px;
    height: 25px;
    background-color: rgb(160, 149, 149);
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.show {
    right: 0;
}

.close-bar a {
    color: white;
}

button.icon i {
    color: #939393;
}

button.icon {
    background: transparent;
    border: none;
    font-size: 25px;
    margin-top: 16px;
    display: none;
}

/* //////dropdown----2 end////// */



/* //////////////////////////////////////////////// */


/* ///elementor-widget-start/// */
.elementor-widget-wrap {
    background-color: #f2efef;
    padding: 80px 0;
}

.widget-wrap {
    background-color: white;
    padding: 30px 20px;
    text-align: center;
    transition: all ease 0.3s;
    border-radius: 5px;
}

.widget-wrap:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all ease 0.3s;
}

.widget-wrap:hover i {
    color: black;
}

.widget-wrap-user-icon i {
    font-size: 30px;
    color: rgb(192, 198, 198);
}

/* ///elementor-widget-end/// */
/* ///Access-Solutions start/// */
.Access-Solutions {
    padding: 70px 0;
}

.elementor-image-box-content {
    text-align: center;
}

.elementor-image-box-content h3 {
    font-size: 30px;
    font-weight: 700s;
}

.elementor-image-box-content p {
    font-size: 16px;
    font-weight: 600;
}

.elementor-image-box-content h3::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    margin: auto;
    transition: 0.5s;
}

.elementor-image-box-content h3:hover::after {
    text-align: center;
    margin-top: 3px;
    width: 30%;
    margin: auto;
}

.elementor-widget-wapper {
    margin-top: 70px;
}

/* .screenshot-img img:hover{
    color: #cdcbcba5;
    background-color: red;
  } */
.screenshot-item {
    position: relative;
    /* text-align: center; */
}

.screenshot-body a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #929c9975;
    /* max-height: 364px; */
    /* width: 100%; */
    text-decoration: none;
    display: none;
}

.screenshot-img img {
    width: 100%;
}

.screenshot-item:hover .screenshot-body a {
    display: block;
}

.screenshot-body i {
    background-color: rgba(0, 216, 235, 0.685);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: auto;
    border-top-left-radius: 50%;
    /* border-top-right-radius: 50%; */
    border-bottom-right-radius: 50%;
    /* border-bottom-left-radius: 50%; */
    /* margin-top: 130px; */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/* //Private-Security start/// */
.Private-Security {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/security-service-rank-img-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

.Private-Security-content {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.Private-Security-content p {
    width: 60%;
    margin: auto;
}

.Private-Security-content span {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}

.Private-Security-content h3 {
    font-size: 40px;
}

.Private-Security-button button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 8px 20px;
    font-weight: 600;
    border: none;
    /* text-transform: uppercase; */
}

.Private-Security-button button:hover {
    background-color: rgb(108, 106, 106);
    color: white;
    transition: all ease 0.5s;
}

/* //Private-Security end/// */
/* ////elementor-top-section start/// */
section.elementor-top-section {
    padding: 80px 40px;
    background-color: rgba(236, 236, 236, 0.669);
}

.content-box-wrapper {
    text-align: center;
    margin-top: 20px;
}

.content-box-wrapper h4 {
    font-size: 24px;
    font-weight: 700;
}

.content-box-wrapper p {
    font-size: 16px;
}

.elementor-inner-section {
    transition: 0.4s;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.elementor-inner-section:hover {
    transform: scale(1.1);
    transition: all ease 0.4s;
}

.elementor-main-section {
    padding: 20px;
    background-color: white;
}

/* ///elementor-top-section end//// */


/* ///footer area startr/// */
.footer-Navagation {
    background-color: #f1eded;
    padding: 100px 0px;
}

.widget ul {
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

.widget ul a {
    color: #666666;
    background-color: #939393;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.widget ul a:hover {
    color: white;
    background-color: #96bb7c;
    transition: 0.6s;
    transform: scale(1.7);
}

.widget h3 {
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    position: relative;
}

.widget h3::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    transition: 0.5s;
}

.widget h3:hover::after {
    text-align: center;
    margin-top: 3px;
    width: 20%;
}

.widget ul a {
    transition: all 0.4s ease 0s;
    transform: scale(0.9);
}

.Navagation-list ul a {
    color: #666666;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.Navagation-list ul a:hover {
    color: #00b3ff;
    transition: 0.5s;
    text-shadow: 2px -1px 0px #999;
}

.Navagation-list ul {
    list-style: none;
    padding-left: 0;
}

.Navagation-list h3 {
    font-family: "Nunito", sans-serif;
    font-size: 19px;
    position: relative;
}

.Navagation-list h3::after {
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    margin-top: 3px;
    background: #39730359;
    transition: 0.5s;
}

.Navagation-list h3:hover::after {
    text-align: center;
    margin-top: 3px;
    width: 20%;
}

/* ///footer area end/// */
/* ///slider/// */
.hero-slider .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    bottom: 15px;
    /* color: red;  */
    z-index: 9999;
}

.hero-slider.owl-carousel .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(175, 180, 175) !important;
}

.hero-slider .owl-carousel .owl-dot:hover,
.owl-carousel .owl-dot.active {
    border: 1px solid white;
    background-color: transparent !important;
}

.footer-section h6 {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    color: #939393;
}

.footer-section h6 i {
    color: #dc3545;
}

.footer-section h6 span {
    color: #96bb7c;
    font-weight: 900;
}

/* ////slider-end.////// */
.footer-bottm-top{
    position: relative;
}
.footer-bottm-top a.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 35px;
    height: 40px;
    width: 40px;
    background-color: rgba(236, 152, 26, 0.728);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}
/* /////////////////////////////////// */
@media screen and (max-width: 991px) {
    .navigation-menu.mt-4 {
        display: none;
    }

    button.icon {
        background: transparent;
        border: none;
        font-size: 25px;
        margin-top: 16px;
        display: block;
        margin: auto;
        margin-right: 0px;
        margin-top: -40px;
    }

    .content h2 {
        font-size: 60px;
    }

    .content p {
        margin-top: -240px;
    }
}

/* @media screen and (max-width: 767px) {
    .Navagation-list {
      margin-top: 25px;
    }
  } */
  @media screen and (max-width:575px) {
    .Private-Security-content p {
        width: 100%;
    }

    .Private-Security-content h3 {
        font-size: 30px;
    }

    .Private-Security-content {
        margin-top: 60px;
    }
    .navigation-menubar-inner ul ul ul {
        margin-left: -135px;
        margin-top: -30px;
    }
}
@media screen and (max-width: 425px) {
    .content h2 {
        font-size: 25px;
    }
}








